name: Rust test on PR fork
on:
  pull_request_target:
      types: [opened, synchronize]
env:
  CARGO_TERM_COLOR: always
  PAYSTACK_API_KEY: ${{secrets.PAYSTACK_API_KEY}}
  BANK_ACCOUNT: ${{secrets.BANK_ACCOUNT}}
  BANK_CODE: ${{secrets.BANK_CODE}}
  BANK_NAME: ${{secrets.BANK_NAME}}
jobs:
  run-test-on-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Get User Permission
        id: checkAccess
        uses: actions-cool/check-user-permission@v2
        with:
          require: write
          username: ${{ github.triggering_actor }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Check User Permission
        if: steps.checkAccess.outputs.require-result == 'false'
        run: |
          echo "${{ github.triggering_actor }} does not have permission on this repo."
          echo "Current permission level is ${{ steps.checkAccess.outputs.user-permission }}"
          echo "Job originally submitted by ${{ github.actor }}"
          exit 1
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
        
